//Color Scheme

$bg_color: #121212;
$svg_curve: #41b3a3;
$bg-light : rgba(255,255,255,0.12);
$card : rgba(255,255,255,0.8);
$contrast : #2AD773;
$text-primary : #fff;
$text-secondary : rgba(255,255,255,0.8);
$text-disabled : rgba(255,255,255,0.5);
$btn : rgba(255,255,255,0.12);
// $btn-hover : rgba(255,255,255,0.08);


$col1_light : #2E2E2E;
$col4 : #131217;
$col2 : #275241;
$col3 : #467C54;
$text : #6A0026;
$text1 : #a61248e2;
$text1 : #cd3d72;
$col13 : #C3FCF2ab; //transparent
$col14 : #00C9B0ab; //transparent
$col15 : #00C9B0; 
$col16 : #009583;
$col17 : rgba(82, 242, 82, 0.724);
$col17 : #f82121;